
/* .input_container{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* .input_container{
    
} */

.sub_heading{
    width: 366px;
    text-align: center;
}

.input{    
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 5px 10px;
    border-color: #D0CFC6;
    border-width: 0.5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.feedback{
    text-align: left;
}

@media (max-width: 550px){
    .input{
        margin-right: 0px;
        margin-bottom: 10px;
    }
}